//common styles
@include placeholder-hide;
.position__header-wrapper {
	margin-bottom: 35px;
	@extend %clearfix;
	padding-right: rem(10);
}
.position__header {
	display: inline-block;
	max-width: 175px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.switch__list {
	display: inline-block;
	float: right;
	font-size: 0;
	max-width: 60px;
}
.switch__item {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: 1px solid $grey;
	border-radius: 1px;
	margin-left: 10px;
	overflow: hidden;
	&:first-child {
		margin-left: 0;
	}
	&.active, &:hover {
		border-color: $coral;
	}
	&:hover:after, &.active:after {
		background-color: $coral;
	}
	&:after {
		display: block;
		content: '';
		width: 14px;
		height: 14px;
		border-radius: 2px;
		background-color: $grey;
		position: absolute;
		top: 2px;
		left: 2px;
	}
	&.tile:after {
		border-radius: 0px;
	}
	&.tile:before {
		content:'+';
		display: block;
		line-height: 20px;
		font-size: rem(28);
		color: #f1f1f5;
		position: absolute;
		top: -2px;
		left: 0px;
		z-index: 5;
	}
}

.position-wrapper {
	padding-left: rem(17);
	padding-right: rem(20);
	margin-bottom: 35px;
	@extend %clearfix;
}
.position__list {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	font-size: 0;
	background-color: $grey;
	border-radius: 3px;
	border: 1px solid $grey;
	overflow: hidden;
}

.position__item {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: 1px;
	margin-bottom: 1px;
	background-color: $light-grey-bg;
	&:nth-child(3n+1) {
		margin-left: 0px;
	}
}
.coords__list {
	display: inline-block;
	vertical-align: top;
	float: right;
}
.coords__item {
	margin-bottom: 12px;
	text-align: right;
	&:last-child {
		margin-bottom: 0;
	}
}
.coords__name {
	display: inline-block;
}
.coords__name_text {
	color: $setting-titles-color;
	font-size: rem(16);
	text-transform: uppercase;
}
.coords__input {
	width: 45px;
	height: 45px;
	background-color: #f1f1f5;
	border: 1px solid $grey;
	border-radius: 3px;
	outline: none;
	text-align: center;
	font-size: rem(22);
	font-family: 'SegoeUILight', Arial;
	color: $setting-titles-color;
	padding: rem(2);
	margin-left: 5px;
}
.coords__arrows {
	display: inline-block;
	vertical-align: top;
	padding-top: rem(5);
	margin-left: 4px;
}
.coords__arrow {
	display: block;
	width: 9px;
	height: 9px;
	@include transform(rotate(45deg));
	border: 1px solid $grey;
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
	&:hover {
		border-color: $setting-titles-color; 
	}
	&.arrow-up {
		border-right: none;
		border-bottom: none;
	}
	&.arrow-down {
		border-left: none;
		border-top: none;
	}
}
//unselect mode styles
.position-wrapper.unselect {
	& .coords__arrow:hover {
		border-color: $grey;
	}
}
//single mode styles
.position-wrapper.single {
	& .position__item {
		cursor: pointer;
		transition: all 0.2s ease;
		&:hover, &.active__item {
			background-color: $coral;
		}
	}
	& .coords__name_arrow {
		display: none;
	}
	& .coords__arrow {
		cursor: pointer;
	}
}
//tile mode styles
.position-wrapper.tile {
	& .position__list {
		position: relative;
		& .watermark__margin {
			display: block;
			position: absolute;
			background-color: $coral;
		}
		& .vertical {
			width: 18px;
			height: 100%;
			top: 0;
			left: 50%;
			margin-left: -9px;
		}
		& .horizontal {
			width: 100%;
			height: 18px;
			top: 50%;
			left:0;
			margin-top: -9px;
		}
	}
	& .coords__name_text {
		display: none;
	}
	& .coords__arrow {
		cursor: pointer;
	}
	& .coords__input {
		margin-left: 6px;
	}
	& .coords__name {
		vertical-align: top;
	}
	& .coords__name_arrow {
		display: inline-block;
		background-color: $setting-titles-color;
		position: relative;
		&:before, &:after {
			height: 8px;
			width: 8px;
			display: block;
			position: absolute;
			content: '';
			@include transform(rotate(45deg));
			border: 1px solid $setting-titles-color;
		}
		&.x {
			width: 1px;			
			height: 30px;
			margin-top: 10px;
			&:before {
				top: 0;
				left:-4px;
				border-right: none;
				border-bottom: none;
			}
			&:after {
				top:100%;
				left: -4px;
				margin-top: -9px;
				border-left: none;
				border-top: none;
			}
		}
		&.y {
			height: 1px;
			width: 30px;
			margin-top: 20px;
			&:before {
				border-right: none;
				border-top: none;				
				left: 0;
				top: -4px;
			}
			&:after {
				border-left: none;
				border-bottom: none;
				left: 100%;
				top: -4px;
				margin-left: -9px;
			}
		}
	}
}