$gray: #9eb2c0;
$red: #f97e76;

.upload {
	padding: 10px 20px;
}

.upload__title {
	margin-bottom: 10px;
	color: $setting-titles-color;
	font-size: rem(14);
}

.upload__fake-input {
	position: relative;
	height: 28px;
	border: 1px solid $gray;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 25px;
	
}

.upload__input-text {
	line-height: 25px;
	padding-left: 5px;
	font-size: rem(12);
	color: $gray;
	width: 178px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.upload__btn {
	position: absolute;
	top: -1px;
	right: -1px;
	height: 28px;
	width: 40px;
	background: $red;
	border-bottom-right-radius: 5px; 
	border-top-right-radius: 5px;
	cursor: pointer;

}

.upload__file-upload {
	// display: none;
}

.upload__label.disabled {

	.upload__title {
		color: disabled($gray);
	}

	.upload__fake-input {
		border-color: disabled($gray);
		color: disabled($gray);
	}

	.upload__btn {
		cursor: auto;
		background-color: disabled($red);
	}

}
