

.upload {
	padding: 0 20px 10px;
}

.upload__title {
	margin-bottom: 7px;
	padding-left: 0;
}

.upload__fake-input {
	position: relative;
	height: 27px;
	border: 1px solid $grey;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 22px;

	&.error {
		border-color: $coral;
		box-shadow: inset 0 0 5px 0 $coral;

		.upload__input-text {
			color: $coral;
		}
	}
	
}

.upload__input-text {
	line-height: rem(12);
	padding: 5px;
	font-family: "roboto-light-webfont", sans-serif;
	font-size: rem(10);
	color: $grey;
	width: 178px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.upload__btn {
	position: absolute;
	top: -1px;
	right: -1px;
	height: 27px;
	width: 40px;
	background: $coral;
	border-bottom-right-radius: 5px; 
	border-top-right-radius: 5px;
	cursor: pointer;
	&:before {
		content: "";
		display: block;
		width: icons-sprite-width(download);
		height: icons-sprite-height(download);
		@include icons-sprite(download);
		@include absolute-center();
	}
}

.upload__file-upload {
	display: none;
}

.upload__label.disabled {

	.upload__title {
		color: disabled($grey);
	}

	.upload__fake-input {
		border-color: disabled($grey);
		color: disabled($grey);
	}

	.upload__btn {
		cursor: auto;
		background-color: disabled($coral);
	}

}
