.button-holder.disabled
	button(type="submit" class="buttons button__reset" disabled data-localize="reset")= local.rus.reset
	button(type="submit" class="buttons button__submit" disabled data-localize="download")= local.rus.download

