.button-holder
	button(type="submit" class="buttons button__reset" data-localize="reset")= local.rus.reset
	button(type="submit" class="buttons button__submit" data-localize="download")= local.rus.download