.generator
	h1.generator__title= local.rus.title
	.generator__canvas
		include _preloader
		.generator__image-holder
			img(src="images/test-image/1500x1500.jpg").generator__main-image
			img(src="images/test-image/256x256.jpg").generator__watermark-image
