.settings
	h2.settings__main-title= local.rus.settings
	.settings__form-holder
		form(class="settings__form" method="post" enctype="multipart/form-data" action="../backend/watermark.php")
			.settings__form-row
				include _upload
			.settings__form-row
				include _position
			.settings__form-row
				include _opacity
			.settings__form-row
				include _button
