.settings
	h2.settings__main-title(data-localize="settings")= local.rus.settings
	.settings__form-holder
		form.settings__form
			.settings__form-row
				include _upload
			.settings__form-row
				include _position
			.settings__form-row
				include _opacity
			.settings__form-row
				include _button
