.upload
	label.upload__label.upload__label_suorce-img
		h3.upload__title(data-localize="originalimage")= local.rus.default_img
		div(class="upload__fake-input upload__fake-input_img" data-placeholder="Image.jpg")
			.upload__input-text
			.upload__btn
		input(class="upload__file-upload" data-image="generator__main-image" type="file") 


	label.upload__label.upload__label_watermark.disabled
		h3.upload__title(data-localize="watermark")= local.rus.watermark
		div(class="upload__fake-input upload__fake-input_watermark" data-placeholder="Image.png")
			.upload__input-text
			.upload__btn
		input(class="upload__file-upload" data-image="generator__watermark-image" type="file" disabled)