$icons-spacing: 40px;
$icons-layout: horizontal;
@import "icons/*.png";

$base-font-size: 14;
$text-color: #000;
$footer-height: 30px;
$setting-titles-color: #2e3641;
$light-grey-bg: #dbe1e8;
$grey: #9eb2c0;
$coral: #f97e76;