include _adjustment/varibles
include _adjustment/mixin

doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/main.css")
	title= local.rus.title
body
	.wrapper
		.left
		.right

	// bower:js
	// endbower