include _adjustment/varibles
include _adjustment/mixin

doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/main.css")
	title= local.rus.title
body
	.page
		include _common/_section/_aside-left
		include _common/_section/_main-container
	include _common/_section/_footer