.aside__left{
	position: fixed;
	font-family: "SegoeUILight", sans-serif;
	font-size: rem(20);
	margin-top: 45px;
}

.aside__lang-link{
	text-transform: uppercase;
	display: block;
	background-color: #d7d5d7;
	color: #8e9298;
	height: 35px;
	overflow: hidden;
	&:first-child{
		border-bottom: 1px solid #a5a7ac;
	}
}